.deps
.libs
*.o
*.lo
*.la
*.swp
core

ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.rpath
config.status
config.sub
configure
depcomp
docs/html
examples/Makefile
examples/Makefile.in
install-sh
lcm-java/Makefile
lcm-java/Makefile.in
lcm-java/build/
lcm-java/classnoinst.stamp
lcm-java/javadocs
lcm-java/lcm-java.pc
lcm-java/lcm-logplayer-gui
lcm-java/lcm-spy
lcm-java/lcm.jar
lcm-java/.classpath
lcm-java/.project
lcm-java/jchart2d-code/jchart2d-3.2.2.jar

lcm-logger/Makefile
lcm-logger/Makefile.in
lcm-logger/lcm-logger
lcm-logger/lcm-logplayer

lcm-python/html
lcm-python/Makefile
lcm-python/Makefile.in

lcm/Makefile
lcm/Makefile.in
lcm/lcm.pc
lcm/lcmtypes/.dirstamp

lcmgen/Makefile
lcmgen/Makefile.in
lcmgen/lcm-gen

liblcm-test/Makefile
liblcm-test/Makefile.in
liblcm-test/lcm-buftest-receiver
liblcm-test/lcm-buftest-sender
liblcm-test/lcm-example
liblcm-test/lcm-logfilter
liblcm-test/lcm-sink
liblcm-test/lcm-source
liblcm-test/lcm-tester
libtool
ltmain.sh
m4/Makefile
m4/Makefile.in
m4/codeset.m4
m4/glibc2.m4
m4/glibc21.m4
m4/iconv.m4
m4/intdiv0.m4
m4/intmax.m4
m4/inttypes-pri.m4
m4/inttypes.m4
m4/inttypes_h.m4
m4/isc-posix.m4
m4/lcmessage.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/libtool.m4
m4/longdouble.m4
m4/longlong.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/nls.m4
m4/po.m4
m4/printf-posix.m4
m4/progtest.m4
m4/signed.m4
m4/size_max.m4
m4/stdint_h.m4
m4/uintmax_t.m4
m4/ulonglong.m4
m4/wchar_t.m4
m4/wint_t.m4
m4/xsize.m4
m4macros/Makefile
m4macros/Makefile.in
missing
mkinstalldirs
py-compile
test/.buildstamp
test/c/client
test/c/eventlog_test
test/c/lcmtest*.c
test/c/lcmtest*.h
test/c/memq_test
test/c/server
test/c/udpm_test
test/cpp/client
test/cpp/lcmtest/
test/cpp/lcmtest2/
test/cpp/memq_test
test/gtest/libgtest.a
test/gtest/libgtest_main.a
test/java/lcmtest/lcmtest
test/java/lcmtest/lcmtest2
test/java/lcmtest.jar
test/java/build
test/lua/lcmtest
test/lcm_unittest
test/xmlrunner.pyc
test/python/*.pyc
test/python/lcmtest/
test/python/lcmtest2/
test/vala/*.c
test/vala/lcmtest*.vala
test/vala/buf-xfer
test/vala/check-hash
test/vala/encdec-msg
